@import 'src/styles/styles.scss';

.container {
  cursor: default;
  @extend .m-flex-row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  background: $m-gray-gradient;

  .back {
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    color: $m-marley;
    margin: 0 -10px 0 10px;
    -webkit-tap-highlight-color: transparent;
  }

  .logo {
    padding: 10px;
    display: flex;
    max-width: 150px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .links {
    @extend .m-flex-row;
    justify-content: flex-end;
    align-items: center;
    // margin-left: 20px;
  }
}
