@import 'src/styles/styles.scss';

.container {
  cursor: default;
  @extend .m-flex-row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  background: $m-orange-gradient-60;

  .back {
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    color: $m-marley;
    margin: 0 -10px 0 20px;
    -webkit-tap-highlight-color: transparent;
  }

  .name {
    font-size: 20px;
    font-weight: 300;
    color: $m-marley;
    padding: 30px 20px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .links {
    @extend .m-flex-row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
  }
}
