@import 'src/styles/styles.scss';

.page {
  min-width: 100vw;
  min-height: 100vh;

  .page-overlay {
    @extend .m-flex-column;
    justify-content: flex-start;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $m-marley;

    m-header {
      width: 100vw;
    }

    .spacer {
      flex: 1 1 auto;
    }
    
    m-footer {
      width: 100vw;
    } 
    
  }

}
