@import 'src/styles/styles.scss';

.card {
  @extend .m-flex-column, .m-box-shadow-1;
  margin: 20px;
  padding-bottom: 40px;
  border-radius: $m-border-radius;
  background-color: $m-marley;

  .card-header {
    @extend .m-flex-row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;

    .card-title {
      @extend .m-flex-row;
      align-items: flex-start;
      padding-top: 10px;

      .icon {
        @extend .m-box-shadow-1;
        margin: -20px 20px -10px 20px;
        padding: 25px;
        border-radius: $m-mini-border-radius;
        background: $m-orange-gradient-90;

        .mat-icon {
          height: 35px;
          width: 35px;
          font-size: 35px;
        }
      }

      .title {
        margin: auto 0;
        padding-bottom: 10px;

        span {
          color: $m-gray;
          font-size: 20px;
          font-weight: 300;
          word-break: break-word;
        }
      }
    }

    .card-actions {
      @extend .m-flex-row, .m-box-shadow-2;
      justify-content: space-evenly;
      align-items: center;
      margin: 15px -10px 0 20px;
      background-color: $m-marley;

      div {
        &.go-to {
          color: $m-purple;
          order: 5;
        }
        &.add {
          color: $m-blue;
          order: 4;
        }
        &.edit {
          color: $m-green;
          order: 3;
        }
        &.delete {
          order: 2;
          color: $m-dark-orange;
        }
        &.update {
          order: 1;
          color: $m-dark-orange;
        }
        &.show-credentials {
          order: 0;
          color: $m-orange;
        }
      }
    }

    @media screen and (max-width: $breakpoint-phone) {
      .card-actions {
        flex-direction: column;
        margin: -10px 15px 0 20px;

        div {
          &.go-to {
            order: 1;
          }
          &.add {
            order: 2;
          }
          &.edit {
            order: 3;
          }
          &.delete {
            order: 4;
          }
          &.show-credentials {
            order: 5;
          }
        }
      }
    }
  }
}
