@import 'src/styles/styles.scss';

.card {
  @extend .m-flex-column, .m-box-shadow-1;
  border-radius: $m-border-radius;
  background-color: $m-marley;

  .card-header {
    @extend .m-flex-row, .m-box-shadow-1;
    margin: -20px 10px 40px 10px;
    padding: 40px 40px;
    border-radius: $m-mini-border-radius;
    background: $m-orange-gradient-90;

    span {
      color: $m-marley;
      font-size: 20px;
      font-weight: 300;
    }
  }
}
