<m-page-container>
  <div class="m-page-title">
    <div class="title">
      <mat-icon>analytics</mat-icon>
      <h1>TIME SERIES DATA</h1>
    </div>
  </div>

  <form *ngIf="form" [formGroup]="form" (submit)="getData()">
    <div class="m-form-field">
      <mat-icon class="m-field-icon">domain</mat-icon>

      <mat-form-field floatLabel="never">
        <mat-label>{{ projectList?.length === 0 ? 'there are no projects' : 'project' }}</mat-label>
        <mat-select formControlName="project">
          <!-- <mat-select-trigger>
            {{ form.get('project').value | getNameFromList: projectList }}
          </mat-select-trigger> -->

          <div class="mat-option m-select-search">
            <div class="m-form-field">
              <mat-icon class="m-field-icon">search</mat-icon>

              <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="search" [formControl]="projectFilter" (keydown)="$event.stopPropagation()" />

                <button type="button" mat-icon-button matSuffix (click)="projectFilter.setValue(null); filterProjects('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="mat-option" *ngIf="(projectFilteredList$ | async)?.length === 0">
            <mat-icon class="m-select-icon">info_outline</mat-icon>
            <span>No project found</span>
          </div>

          <mat-option
            *ngFor="let project of projectList"
            [style.display]="(projectFilteredList$ | async)?.includes(project) ? 'flex' : 'none'"
            [value]="project._id"
            >{{ project.name }}</mat-option
          >
        </mat-select>

        <mat-error *ngIf="form.get('project').invalid">
          <mat-icon>info_outline</mat-icon>
          <span>{{ getError('project') }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="m-form-field">
      <mat-icon class="m-field-icon">emoji_symbols</mat-icon>

      <mat-form-field floatLabel="never">
        <mat-label>{{ thingList?.length === 0 ? 'there are no things' : 'thing' }}</mat-label>
        <mat-select formControlName="thing">
          <!-- <mat-select-trigger>
            {{ form.get('thing').value | getNameFromList: thingList }}
          </mat-select-trigger> -->

          <div class="mat-option m-select-search">
            <div class="m-form-field">
              <mat-icon class="m-field-icon">search</mat-icon>

              <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="search" [formControl]="thingFilter" (keydown)="$event.stopPropagation()" />

                <button type="button" mat-icon-button matSuffix (click)="thingFilter.setValue(null); filterThings('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="mat-option" *ngIf="(thingFilteredList$ | async)?.length === 0">
            <mat-icon class="m-select-icon">info_outline</mat-icon>
            <span>No thing found</span>
          </div>

          <mat-option
            *ngFor="let thing of thingList"
            [style.display]="(thingFilteredList$ | async)?.includes(thing) ? 'flex' : 'none'"
            [value]="thing._id"
            >{{ thing.name }}</mat-option
          >
        </mat-select>

        <mat-error *ngIf="form.get('thing').invalid">
          <mat-icon>info_outline</mat-icon>
          <span>{{ getError('thing') }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="m-form-field">
      <mat-icon class="m-field-icon">category</mat-icon>

      <mat-form-field floatLabel="never">
        <mat-label>{{ sensorList?.length === 0 && relayList?.length === 0 ? 'there are no devices' : 'devices' }}</mat-label>
        <!-- <mat-select formControlName="devices" multiple> -->
        <mat-select formControlName="devices">
          <!-- <mat-select-trigger>
            {{
              form.get('devices').value
                ? (form.get('devices').value[0]._id | getNameFromList: this[form.get('devices').value[0].device + 'List'])
                : ''
            }}
            <span *ngIf="form.get('devices').value?.length > 1" class="additional-selection">
              (+{{ form.get('devices').value.length - 1 }} {{ form.get('devices').value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger> -->

          <!-- <div class="mat-option" (click)="toogleSelectAllDevices()">
            <mat-icon class="m-select-icon">{{
              isAllDevicesSelected()
                ? 'check_box'
                : form.get('devices').value?.length > 0
                ? 'indeterminate_check_box'
                : 'check_box_outline_blank'
            }}</mat-icon>
            <span>select all</span>
          </div> -->

          <div class="mat-option m-select-search">
            <div class="m-form-field">
              <mat-icon class="m-field-icon">search</mat-icon>

              <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="search" [formControl]="deviceFilter" (keydown)="$event.stopPropagation()" />

                <button type="button" mat-icon-button matSuffix (click)="deviceFilter.setValue(null); filterSensors('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="mat-option" *ngIf="(sensorFilteredList$ | async)?.length === 0 && (relayFilteredList$ | async)?.length === 0">
            <mat-icon class="m-select-icon">info_outline</mat-icon>
            <span>No devices found</span>
          </div>

          <mat-optgroup class="device-type" [label]="'SENSORS'" *ngIf="(sensorFilteredList$ | async)?.length > 0">
            <mat-option
              *ngFor="let sensor of sensorList"
              [style.display]="(sensorFilteredList$ | async)?.includes(sensor) ? 'flex' : 'none'"
              [value]="{ device: 'sensor', _id: sensor._id }"
              >{{ sensor.name }}</mat-option
            >
          </mat-optgroup>

          <mat-optgroup class="device-type" [label]="'RELAYS'" *ngIf="(relayFilteredList$ | async)?.length > 0">
            <mat-option
              *ngFor="let relay of relayList"
              [style.display]="(relayFilteredList$ | async)?.includes(relay) ? 'flex' : 'none'"
              [value]="{ device: 'relay', _id: relay._id }"
              >{{ relay.name }}</mat-option
            >
          </mat-optgroup>
        </mat-select>

        <mat-error *ngIf="form.get('devices').invalid">
          <mat-icon>info_outline</mat-icon>
          <span>{{ getError('devices') }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="m-form-field">
      <mat-icon class="m-field-icon">date_range</mat-icon>

      <mat-form-field floatLabel="never">
        <mat-label>date range</mat-label>

        <mat-date-range-input [formGroup]="form" [rangePicker]="picker" [min]="year2020" [max]="today">
          <input matStartDate formControlName="start" />
          <input matEndDate formControlName="end" />
        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>

        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="form.get('start').invalid">
          <mat-icon>info_outline</mat-icon>
          <span>{{ getError('start') }}</span>
        </mat-error>
        <mat-error *ngIf="form.get('end').invalid">
          <mat-icon>info_outline</mat-icon>
          <span>{{ getError('end') }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="m-multi-btn-area">
      <button *ngIf="!loading" mat-button type="submit" class="m-btn-primary">SHOW CHART</button>
      <div *ngIf="loading" class="m-lds-ellipsis chart">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <button *ngIf="!downloading" mat-button type="button" (click)="downloadTSData()">DOWNLOAD</button>
      <div *ngIf="downloading" class="m-lds-ellipsis download">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </form>

  <div class="chart-container" *ngIf="showChart">
    <div class="chart">
      <canvas baseChart [colors]="chartColors" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions">
      </canvas>
    </div>
  </div>
</m-page-container>
