<m-page-container>
  <div class="m-page-title">
    <div class="title">
      <mat-icon>analytics</mat-icon>
      <h1>TIME SERIES DATA</h1>
    </div>
  </div>

  <form *ngIf="form" [formGroup]="form" (submit)="getTSData()">
    <div class="m-form-field">
      <mat-icon class="m-field-icon">domain</mat-icon>

      <mat-form-field floatLabel="never">
        <mat-label>{{ projectList?.length === 0 ? 'there are no projects' : 'project' }}</mat-label>
        <mat-select formControlName="project">
          <mat-select-trigger>
            {{ getProjectName(form.get('project').value) }}
          </mat-select-trigger>

          <div class="mat-option m-select-search">
            <div class="m-form-field">
              <mat-icon class="m-field-icon">search</mat-icon>

              <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="search" [formControl]="projectFilter" (keydown)="$event.stopPropagation()" />

                <button type="button" mat-icon-button matSuffix (click)="projectFilter.setValue(null); filterProjects('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="mat-option" *ngIf="(projectFilteredList$ | async)?.length === 0">
            <mat-icon class="m-select-icon">info_outline</mat-icon>
            <span>No project found</span>
          </div>

          <mat-option
            *ngFor="let project of projectList"
            [style.display]="(projectFilteredList$ | async)?.includes(project) ? 'flex' : 'none'"
            [value]="project._id"
            >{{ project.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="m-form-field">
      <mat-icon class="m-field-icon">emoji_symbols</mat-icon>

      <mat-form-field floatLabel="never">
        <mat-label>{{ thingList?.length === 0 ? 'there are no things' : 'thing' }}</mat-label>
        <mat-select formControlName="thing">
          <mat-select-trigger>
            {{ getThingName(form.get('thing').value) }}
          </mat-select-trigger>

          <div class="mat-option m-select-search">
            <div class="m-form-field">
              <mat-icon class="m-field-icon">search</mat-icon>

              <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="search" [formControl]="thingFilter" (keydown)="$event.stopPropagation()" />

                <button type="button" mat-icon-button matSuffix (click)="thingFilter.setValue(null); filterThings('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="mat-option" *ngIf="(thingFilteredList$ | async)?.length === 0">
            <mat-icon class="m-select-icon">info_outline</mat-icon>
            <span>No thing found</span>
          </div>

          <mat-option
            *ngFor="let thing of thingList"
            [style.display]="(thingFilteredList$ | async)?.includes(thing) ? 'flex' : 'none'"
            [value]="thing._id"
            >{{ thing.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="m-form-field">
      <mat-icon class="m-field-icon">category</mat-icon>

      <mat-form-field floatLabel="never">
        <mat-label>{{ sensorList?.length === 0 ? 'there are no devices' : 'devices' }}</mat-label>
        <mat-select formControlName="devices" multiple>
          <mat-select-trigger>
            {{ form.get('devices').value ? getDeviceName(form.get('devices').value[0]) : '' }}
            <span *ngIf="form.get('devices').value?.length > 1" class="additional-selection">
              (+{{ form.get('devices').value.length - 1 }} {{ form.get('devices').value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>

          <!-- <div class="mat-option" (click)="toogleSelectAllDevices()">
            <mat-icon class="m-select-icon">{{
              isAllDevicesSelected()
                ? 'check_box'
                : form.get('devices').value?.length > 0
                ? 'indeterminate_check_box'
                : 'check_box_outline_blank'
            }}</mat-icon>
            <span>select all</span>
          </div> -->

          <div class="mat-option m-select-search">
            <div class="m-form-field">
              <mat-icon class="m-field-icon">search</mat-icon>

              <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="search" [formControl]="deviceFilter" (keydown)="$event.stopPropagation()" />

                <button type="button" mat-icon-button matSuffix (click)="deviceFilter.setValue(null); filterSensors('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="mat-option" *ngIf="(sensorFilteredList$ | async)?.length === 0">
            <mat-icon class="m-select-icon">info_outline</mat-icon>
            <span>No devices found</span>
          </div>

          <mat-optgroup class="device-type" [label]="'SENSORS'" *ngIf="(sensorFilteredList$ | async)?.length > 0">
            <mat-option
              *ngFor="let sensor of sensorList"
              [style.display]="(sensorFilteredList$ | async)?.includes(sensor) ? 'flex' : 'none'"
              [value]="{ device: 'sensor', _id: sensor._id }"
              >{{ sensor.name }}</mat-option
            >
          </mat-optgroup>

          <mat-optgroup class="device-type" [label]="'RELAYS'" *ngIf="(relayFilteredList$ | async)?.length > 0">
            <mat-option
              *ngFor="let relay of relayList"
              [style.display]="(relayFilteredList$ | async)?.includes(relay) ? 'flex' : 'none'"
              [value]="{ device: 'relay', _id: relay._id }"
              >{{ relay.name }}</mat-option
            >
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="m-btn-area">
      <button *ngIf="!loading" mat-button type="submit">GET DATA</button>
      <div *ngIf="loading" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </form>
</m-page-container>
