@import 'src/styles/styles.scss';

.page {
  background-image: url('../../../../assets/images/malachi-brooks-4qigzcWjVqc-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;

  .page-overlay {
    @extend .m-flex-column;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: rgba(#000, 0.7);

    m-auth-header {
      width: 100%;
    }

    m-auth-footer {
      width: 100%;
    }
  }
}
