@import 'src/styles/styles.scss';

form {
  padding: 0 40px;

  .additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .m-btn-area {
    margin-top: 40px;
  }
}

.mat-option {
  mat-icon {
    font-size: 21.5px;
    height: 21.5px;
    width: 21.5px;
    margin: 0 6px 0 -3px;
    color: $m-orange;
  }
}
