<m-page-container>

  <m-card [title]="'new project'" [icon]="'domain'">

    <form [formGroup]="form" (submit)="save()">
        
      <div class="m-form-field">
        <mat-icon class="m-field-icon">domain</mat-icon>
    
        <mat-form-field floatLabel='never'>
          <input
          matInput
          formControlName="name"
          type="text"
          placeholder="name">
          
          <mat-error *ngIf="form.get('name').invalid">
            <mat-icon>info_outline</mat-icon>
            <span>{{getError('name')}}</span>
          </mat-error>
        </mat-form-field>
      </div>
    
      <div class="m-form-field">
        <mat-icon class="m-field-icon">note</mat-icon>
    
        <mat-form-field floatLabel='never'>
          <textarea class="m-textarea"
          #textarea
          matInput
          formControlName="description"
          placeholder="description"
          (input)="resizeTextArea(textarea, form.get('description'))"
          (window:resize)="resizeTextArea(textarea, form.get('description'))"
          rows="1"></textarea>
          
          <mat-error *ngIf="form.get('description').invalid">
            <mat-icon>info_outline</mat-icon>
            <span>{{getError('description')}}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-radio-group formControlName="privacy">
        <h4>PRIVACY</h4>

        <mat-radio-button [value]="'public'">public</mat-radio-button>
        <mat-radio-button [value]="'private'">private</mat-radio-button>

        <mat-error *ngIf="form.get('privacy').invalid && form.get('privacy').dirty">
          <mat-icon>info_outline</mat-icon>
          <span>{{getError('privacy')}}</span>
        </mat-error>
      </mat-radio-group>

      <ng-container *ngIf="form.get('privacy').value === 'private'">
        <h4>USERS</h4>

        <div class="m-form-field" style="margin-top: -15px;">
          <mat-icon class="m-field-icon">person_add_alt_1</mat-icon>

          <mat-form-field floatLabel='never'>
            <mat-label>{{ userList.length === 0 ? 'there are no users' : 'users' }}</mat-label>        
            <mat-select
            formControlName="users"
            multiple>
              <mat-select-trigger>
                {{ form.get('users').value ? getUsername(form.get('users').value[0]) : '' }}
                <span *ngIf="form.get('users').value?.length > 1" class="additional-selection">
                  (+{{ form.get('users').value.length - 1 }} {{ form.get('users').value?.length === 2 ? 'other' : 'others' }})
                </span>
              </mat-select-trigger>

              <mat-option *ngFor="let user of userList" [value]="user._id">{{ user.username }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

      <div class="m-btn-area">
        <button *ngIf="!loading" mat-button type="submit">CREATE</button>
        <div *ngIf="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>        
    
    </form>

  </m-card>
  
</m-page-container>
 