<h2 mat-dialog-title>Board Authentication Credential</h2>

<div mat-dialog-content>
  <div class="credentials">
    <div>
      Board:
      <span>{{ data?._id }}</span>
      <button mat-icon-button [cdkCopyToClipboard]="data?._id">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div>
      Password:
      <span>{{ data?.password }}</span>
      <button mat-icon-button [cdkCopyToClipboard]="data?.password">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="info">This board authentication credential was sent to your email.</div>
</div>

<div mat-dialog-actions align="end">
  <button class="m-btn-secondary" mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</div>
