@import 'src/styles/styles.scss';

.mat-dialog-title {
  font-weight: 400;
  color: $m-orange;
}

.mat-dialog-content {
  font-size: 14px;
  font-weight: 300;

  .credentials {
    @extend .m-flex-column;
    align-items: flex-start;
    margin-bottom: 30px;

    div {
      @extend .m-flex-row;
      align-items: center;
      margin-bottom: -10px;

      span {
        font-weight: 400;
        margin: 0 3px;
      }

      button {
        height: 36px;
        width: 36px;
        line-height: 36px;

        mat-icon {
          height: 18px;
          width:  18px;
          font-size: 18px;
          margin-top: -9px;
          color: rgba($m-gray, .9);
        }
      }      
    }
  }

  .info {
    font-size: 12px;
  }
}