@import 'src/styles/styles.scss';

.container {
  cursor: default;
  @extend .m-flex-row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  .logo {
    padding: 10px;
    display: flex;
    max-width: 200px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .links {
    @extend .m-flex-row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
}
