@import '../../../../../styles/variables.scss';

    
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  border-radius: $m-border-radius;
  background-color: $m-marley;
  -webkit-box-shadow: $m-shadow;
        -moz-box-shadow: $m-shadow;
            box-shadow: $m-shadow;

  .card-header {
    display: flex;
    justify-content: center;
    margin: 10px -10px 40px -10px;
    padding: 40px 40px;
    border-radius: $m-mini-border-radius;
    font-size: 14px;
    font-weight: 500;
    background: $m-orange-gradient-90;
    -webkit-box-shadow: $m-shadow;
        -moz-box-shadow: $m-shadow;
            box-shadow: $m-shadow;

    span {
      color: $m-marley;
      font-size: 20px;
      font-weight: 300;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px;
  }
}