@import '../../../../../styles/variables.scss';

    
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  border-radius: 6px;
  background-color: $m-marley;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);
            box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);

  .card-header {
    display: flex;
    justify-content: center;
    margin: 10px -10px 40px -10px;
    padding: 40px 40px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background: $m-orange-gradient-90;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);
            box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.5);

    span {
      color: $m-marley;
      font-size: 20px;
      font-weight: 300;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px;

    .form-field {
      display: flex;
      flex-direction: row;
      align-items: center;

      .field-icon {
        margin: 0 10px 0 2.5px;
        margin-right: 10px;
      }
    }
  }
}