.m-btn-area {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.m-multi-btn-area {
  @extend .m-btn-area;

  .mat-button {
    margin: 0 10px;
  }
}

.m-btn-primary {
  background: $m-orange-gradient-180;

  .mat-button-wrapper {
    color: $m-marley;
    font-size: 14px;
    font-weight: 400;
  }

  &.m-alert {
    background: $m-red-gradient-60;
  }
}

.m-btn-secondary {
  .mat-button-wrapper {
    color: $m-orange;
    font-size: 14px;
    font-weight: 400;
  }

  &.m-highlight {
    border: 1px solid $m-orange;
  }

  &.m-alert {
    .mat-button-wrapper {
      color: $m-dark-orange;
    }
  }
}

a.mat-button {
  color: $m-marley;
  font-weight: 300;
}
