.m-btn-area {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .mat-button {
    .mat-button-wrapper {
      color: $m-orange;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.m-btn-secondary {
  .mat-button-wrapper {
    color: $m-orange;
    font-size: 14px;
    font-weight: 400;
  }
}

a.mat-button {
  color: $m-marley;
  font-weight: 300;
}
