.mat-input-element {
  caret-color: $m-orange;
}

.mat-form-field-invalid .mat-input-element {
  caret-color: $m-dark-orange;
}

.mat-form-field{
  width: 100%;

  .mat-form-field-wrapper {
    width: 100%;
  }

  &.mat-focused {

    .mat-form-field-label {
      color: $m-orange;
    }
    .mat-form-field-ripple {
      background-color: $m-orange;
    }

  }

  &.mat-form-field-invalid {

    .mat-input-placeholder {
      color: $m-dark-orange;
    }

    .mat-form-field-ripple {
      background-color: $m-dark-orange;
    }

    .mat-form-field-label {
      color: $m-dark-orange;
    }

  } 

  .mat-error {
    display: flex;
    align-items: flex-start;
    
    mat-icon {
      color: $m-dark-orange;
      margin-right: 2px;
    }

    span {
      color: $m-dark-orange;
    }
  }

  .mat-form-field-suffix {
    margin-left: -21px;
  }

}

.m-form-field {
  display: flex;
  flex-direction: row;
  align-items: center;

  .m-field-icon {
    margin: 0 10px 0 0;
    margin-right: 10px;
  }

  .m-textarea {
    resize: none;
    overflow: hidden;
  }

  mat-checkbox {
    margin: 20px 0;
  }
}

.m-half-form-field {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .m-first-field {
    width: 50%;
    padding-right: 10px;
  }
  .m-last-field {
    width: 50%;
    padding-left: 10px;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .m-half-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .m-first-field {
      width: 100%;
      padding-right: 0;
    }
    .m-last-field {
      width: 100%;
      padding-left: 0;
    }
  }
}

mat-radio-group {
  display: flex;
  flex-direction: column;

  mat-radio-button {
    margin-bottom: 10px;
  
    ::ng-deep {   

      .mat-radio-label {
        align-items: flex-start;
  
        .mat-radio-label-content {
          text-align: left;
          white-space: normal;
        }
  
      }
  
      .mat-radio-container {
        margin: .5px 2px 0 0;
      }
      
      .mat-radio-outer-circle {
        border: none;
        box-shadow: $m-shadow-2;
      }
    }
  
    &.mat-radio-checked {
  
      ::ng-deep {
  
        .mat-radio-outer-circle {
          border: .5px solid $m-orange;
          box-shadow: $m-shadow-2;
        }
  
        .mat-radio-inner-circle{
          background-color: $m-orange;
        }

      }
    }
    
    &.mat-accent {
      ::ng-deep {

        .mat-radio-ripple .mat-ripple-element {
          opacity: 0;
        }

        .mat-radio-outer-circle {
          border-color: $m-orange;
        }

        .mat-radio-inner-circle {
          background-color: $m-orange;
        }

      }
    }
        
  }
}

.mat-select-panel {
  background: $m-marley;
  box-shadow: $m-shadow-2;
  border-radius: $m-mini-border-radius;
  max-height: 210px !important;
  min-width: unset !important;
  max-width: 90vw !important;
  width: 100% !important;
  overflow: scroll;
}

.mat-option {
  color: $m-gray;

  .mat-pseudo-checkbox {
    color: $m-gray;
  }
  .mat-pseudo-checkbox-checked {
    background: $m-gray;
  }
  &.mat-selected:not(.mat-option-disabled) {
    color: $m-gray;
  }

  .m-select-icon {
    font-size: 21.5px;
    height: 21.5px;
    width: 21.5px;
    margin: 0 6px 0 -3px;
    color: $m-orange;
  }

  &.m-select-search {
    height: 4rem;

    .m-form-field {
      width: 100%;
    }
  }
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $m-orange;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep .mat-checkbox {

  &:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: $m-orange !important;
  }
    
  .mat-checkbox-frame {
    border-radius: $m-mini-border-radius;
    border: none;
    box-shadow: $m-shadow-2;
    background-color: transparent;
  }

  .mat-checkbox-layout {
    align-items: flex-start;
  }

  .mat-checkbox-inner-container {
    margin-left: 10px !important;
    height: 18px;
    width: 18px;
  }

  .mat-checkbox-background {
    height: 18px;
    width: 18px;
  }

  .mat-checkbox-label {
    text-align: left;
    white-space: normal;      
  }

  .mat-checkbox-background {
    background-color: transparent !important;
  }

  .mat-checkbox-checkmark-path {
    stroke: $m-orange !important;
  }

}

mat-radio-group > mat-error, mat-error.m-error {
  @extend .m-flex-row;
  align-items: center;
  margin: 5px 0 10px;
  padding: 5px;
  max-width: 200px;
  border: 1px solid $m-dark-orange;
  border-radius: $m-mini-border-radius;
  box-shadow: $m-shadow-2;
  animation-name: animation;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: .5s;

  @keyframes animation {
    0% {
      opacity: 0;
      margin-top: 0px;
    }
    50% {
      opacity: 1;
      margin-top: 2.5px;
    }
    100% {
      margin-top: 5px;
    }
  }

  @media screen and (max-width: $breakpoint-phone) {
    max-width: 100%;
  } 

  mat-icon {
    width: 13.5px;
    height: 13.5px;
    font-size: 12px;
    margin-right: 1px;
  }

  span {
    font-size: 10px;
  }
}