.mat-input-element {
  caret-color: $m-orange;
}

.mat-form-field-invalid .mat-input-element {
  caret-color: $m-dark-orange;
}

.mat-form-field{
  width: 100%;

  .mat-form-field-wrapper {
    width: 100%;
  }

  &.mat-focused {

    .mat-form-field-label {
      color: $m-orange;
    }
    .mat-form-field-ripple {
      background-color: $m-orange;
    }

  }

  &.mat-form-field-invalid {

    .mat-input-placeholder {
      color: $m-dark-orange;
    }

    .mat-form-field-ripple {
      background-color: $m-dark-orange;
    }

    .mat-form-field-label {
      color: $m-dark-orange;
    }

  } 

  .mat-error {
    display: flex;
    align-items: flex-start;
    
    mat-icon {
      color: $m-dark-orange;
      margin-right: 2px;
    }

    span {
      color: $m-dark-orange;
    }
  }

  .mat-form-field-suffix {
    margin-left: -21px;
  }

}

.m-form-field {
  display: flex;
  flex-direction: row;
  align-items: center;

  .m-field-icon {
    margin: 0 10px 0 0;
    margin-right: 10px;
  }

  .m-textarea {
    resize: none;
    overflow: hidden;
  }
}

mat-radio-group {
  display: flex;
  flex-direction: column;

  mat-radio-button {
    margin-bottom: 10px;
  
    ::ng-deep {   

      .mat-radio-label {
        align-items: flex-start;
  
        .mat-radio-label-content {
          text-align: left;
          white-space: normal;
        }
  
      }
  
      .mat-radio-container {
        margin: .5px 2px 0 0;
      }
      
      .mat-radio-outer-circle {
        border: none;
        box-shadow: $m-shadow-2;
      }
    }
  
    &.mat-radio-checked {
  
      ::ng-deep {
  
        .mat-radio-outer-circle {
          border: .5px solid $m-orange;
          box-shadow: $m-shadow-2;
        }
  
        .mat-radio-inner-circle{
          background-color: $m-orange;
        }

      }
    }
    
    &.mat-accent {
      ::ng-deep {

        .mat-radio-ripple .mat-ripple-element {
          opacity: 0;
        }

        .mat-radio-outer-circle {
          border-color: $m-orange;
        }

        .mat-radio-inner-circle {
          background-color: $m-orange;
        }

      }
    }
        
  }

  mat-error {
    @extend .m-flex-row;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    max-width: 200px;
    border: 1px solid $m-dark-orange;
    border-radius: $m-mini-border-radius;
    box-shadow: $m-shadow-2;
    animation-name: animation;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: .5s;

    @keyframes animation {
      0% {
        opacity: 0;
        margin-top: 0px;
      }
      50% {
        opacity: 1;
        margin-top: 2.5px;
      }
      100% {
        margin-top: 5px;
      }
    }

    @media screen and (max-width: $breakpoint-phone) {
      max-width: 100%;
    } 

    mat-icon {
      width: 13.5px;
      height: 13.5px;
      font-size: 12px;
      margin-right: 1px;
    }

    span {
      font-size: 10px;
    }
  }
}
