.mat-input-element {
  caret-color: $m-orange;
}

.mat-form-field-invalid .mat-input-element {
  caret-color: $m-dark-orange;
}

.mat-form-field{

  &.mat-focused {

    .mat-form-field-label {
      color: $m-orange;
    }
    .mat-form-field-ripple {
      background-color: $m-orange;
    }

  }

  &.mat-form-field-invalid {

    .mat-input-placeholder {
      color: $m-dark-orange;
    }

    .mat-form-field-ripple {
      background-color: $m-dark-orange;
    }

    .mat-form-field-label {
      color: $m-dark-orange;
    }

  } 

  .mat-error {
    display: flex;
    align-items: flex-start;
    
    mat-icon {
      color: $m-dark-orange;
      margin-right: 2px;
    }

    span {
      color: $m-dark-orange;
    }
  }

  .mat-form-field-suffix {
    margin-left: -21px;
  }

}