<form *ngIf="form" [formGroup]="form">
  <h4>CONFIGURATION</h4>

  <div class="m-form-field" formArrayName="config" *ngFor="let control of getFormArray().controls; let i = index">
    <mat-icon class="m-field-icon">settings</mat-icon>

    <mat-form-field [formGroupName]="i">
      <mat-label>{{ getFormArray().at(i).get('parameter').value }} ( {{ type.config[i]?.description }} )</mat-label>
      <input matInput formControlName="value" type="number" placeholder="value" />

      <mat-error *ngIf="this.getFormArray().at(i).get('value').invalid">
        <mat-icon>info_outline</mat-icon>
        <span>{{ getError('value', i) }}</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="form && type.config.length === 0">
    function getValue(value, resolution) {{ ' {' }}
    <m-code [code]="form.get('function')"></m-code>
    {{ '}' }}

    <mat-error class="m-error" *ngIf="form.get('function').invalid">
      <mat-icon>info_outline</mat-icon>
      <span>{{ getError('function') }}</span>
    </mat-error>
  </div>
</form>
