@import 'src/styles/styles.scss';

form {
  margin: 20px 0 0 35px;

  .m-form-field {
    margin-bottom: 10px;
  }

  .m-btn-area {
    margin-top: 40px;
  }
}

::ng-deep .mat-select-panel {
  max-height: 232px !important;
}