<button class="m-dialog-close" mat-icon-button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Users</h2>

<div mat-dialog-content>
  <div class="m-form-field">
    <mat-icon class="m-field-icon">search</mat-icon>

    <mat-form-field floatLabel="never">
      <input matInput type="text" placeholder="search" [formControl]="usersFilter" />

      <button type="button" mat-icon-button matSuffix (click)="usersFilter.setValue(null); filterUsers('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="user-info-container" *ngFor="let user of usersFiltered$ | async">
    <div class="info">
      <div class="photo">
        <span>{{ user | userInitials | uppercase }}</span>
      </div>

      <div class="name">
        <div class="full-name">
          <span>{{ user.firstName | uppercase }} {{ user.lastName | uppercase }}</span>
        </div>

        <div>
          <span>{{ user.username }}</span>
        </div>

        <div class="email">
          <span>{{ user.email }}</span>
        </div>
      </div>
    </div>

    <div class="info email">
      <span>{{ user.email }}</span>
    </div>
  </div>
</div>
