<m-page-container>

  <div class="m-parent-page-title">
    <div class="title">
      <mat-icon>domain</mat-icon>
      <h1>{{ project?.name | uppercase }}</h1>
    </div>
  </div>

  <div class="m-page-title">
    <div class="title">
      <mat-icon class="icon-tree">subdirectory_arrow_right</mat-icon>
      <mat-icon>emoji_symbols</mat-icon>
      <h1>{{ thing?.name | uppercase }}</h1>
    </div>
  </div>

  <m-card [title]="'sensors'" [icon]="'track_changes'"
  [actions]="true"
  [hideGoTo]="true" [hideEdit]="true" [hideRemove]="true"
  [showEditMenu]="true" [editMenuItems]="(sensorsMenuItems | async)"
  [showRemoveMenu]="true" [removeMenuItems]="(sensorsMenuItems | async)"
  [disableAdd]="!isAdmin()" [disableEdit]="!isAdmin() || !sensors || sensors.length === 0" [disableRemove]="true"
  (add)="addSensor()" (editMenu)="editSensor($event)">
    <div class="card-body">

      <div class="search">
        <div class="m-form-field">
          <mat-icon class="m-field-icon">search</mat-icon>
      
          <mat-form-field floatLabel='never'>
            <input
            matInput
            type="text"
            placeholder="search"
            [formControl]="sensorsFilter">
      
            <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="sensorsFilter.setValue(null); filterSensors('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div class="no-devices" *ngIf="(sensorsFiltered$ | async ) && (sensorsFiltered$ | async ).length === 0">
        <span>NO SENSORS FOUND</span>
      </div>

      <m-sensor-details *ngFor="let item of sensors"
      [hidden]="!(sensorsFiltered$ | async ).includes(item)"
      [sensor]="item"></m-sensor-details>
    </div>
  </m-card>

  <m-card [title]="'relays'" [icon]="'emoji_objects'"
  [actions]="true"
  [hideGoTo]="true" [hideEdit]="true" [hideRemove]="true"
  [showEditMenu]="true" [editMenuItems]="(relaysMenuItems | async)"
  [showRemoveMenu]="true" [removeMenuItems]="(relaysMenuItems | async)"
  [disableAdd]="!isAdmin()" [disableEdit]="!isAdmin() || !relays || relays.length === 0" [disableRemove]="true"
  (add)="addRelay()" (editMenu)="editRelay($event)">
    <div class="card-body">

      <div class="search">
        <div class="m-form-field">
          <mat-icon class="m-field-icon">search</mat-icon>
      
          <mat-form-field floatLabel='never'>
            <input
            matInput
            type="text"
            placeholder="search"
            [formControl]="relaysFilter">
      
            <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="relaysFilter.setValue(null); filterRelays('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div class="no-devices" *ngIf="(relaysFiltered$ | async ) && (relaysFiltered$ | async ).length === 0">
        <span>NO RELAYS FOUND</span>
      </div>

      <!-- <m-relay-details *ngFor="let item of relays"
      [hidden]="!(relaysFiltered$ | async ).includes(item)"
      [relay]="item"></m-relay-details> -->
    </div>
  </m-card>

</m-page-container>
