<m-page-container>

  <div class="m-parent-page-title">
    <div class="title">
      <mat-icon>domain</mat-icon>
      <h1>{{ project?.name | uppercase }}</h1>
    </div>
  </div>

  <div class="m-page-title">
    <div class="title">
      <mat-icon class="icon-tree">subdirectory_arrow_right</mat-icon>
      <mat-icon>emoji_symbols</mat-icon>
      <h1>{{ thing?.name | uppercase }}</h1>
    </div>
  </div>

  <m-card [title]="'sensors'" [icon]="'visibility'"
  [actions]="true"
  [hideGoTo]="true" [hideEdit]="true" [hideRemove]="true"
  [showEditMenu]="true" [editMenuItems]="sensorsMenuItems"
  [showRemoveMenu]="true" [removeMenuItems]="sensorsMenuItems"
  [disableAdd]="!isAdmin()" [disableEdit]="!isAdmin()" [disableRemove]="true"
  (add)="addSensor()" (editMenu)="editSensor($event)">
    <div class="card-body">

      <!-- {{ sensors | json }} -->

    </div>
  </m-card>

</m-page-container>
