@import 'src/styles/styles.scss';

m-card {
  width: 99%;

  .card-body {
    padding: 0 125px;

    .item {
      margin-bottom: 10px;

      div {
        @extend .m-flex-row;
        justify-content: flex-start;
        align-items: center;

        mat-icon {
          margin: 0 10px 0 -2px;
          color: $m-gray;
        }

        h4 {
          font-weight: 300;
          margin: 0 10px 0 0;
          min-width: 70px;
        }
      }

      &.description {
        div {
          justify-content: flex-start;
          align-items: flex-start;
          margin-top: 20px;

          h4 {
            min-width: 100px;
          }
        }
      }

    }
  }

  @media screen and (max-width: $breakpoint-phone) {
    .card-body {
      padding: 0 40px;
    }
  }
}
