<m-page-container>

  <div class="m-page-title">
    <div class="title">
      <mat-icon>folder</mat-icon>
      <h1>MY PROJECTS</h1>
    </div>
    <div class="actions">
      <button mat-button class="m-btn-primary" (click)="add()">NEW</button>
    </div>
  </div>

  <div class="search">
    <div class="m-form-field">
      <mat-icon class="m-field-icon">search</mat-icon>
  
      <mat-form-field floatLabel='never'>
        <input
        matInput
        type="text"
        placeholder="search"
        [formControl]="projectsFilter">
  
        <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="projectsFilter.setValue(null); filterProjects('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="no-projects" *ngIf="(projectsFiltered$ | async) && (projectsFiltered$ | async).length === 0">
    <span>NO PROJECTS FOUND</span>
  </div>

  <m-card *ngFor="let item of (projectsFiltered$ | async)"
  [title]="item.name" [icon]="'domain'">
    <div class="card-body">

      <div class="m-actions">
        <div class="edit">
          <button mat-icon-button (click)="edit(item)" matTooltip="EDIT" matTooltipClass="m-tooltip" [disabled]="!isAdmin(item)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="delete">
          <button mat-icon-button (click)="remove(item)" matTooltip="REMOVE" matTooltipClass="m-tooltip" disabled>
            <mat-icon>delete</mat-icon>
          </button>          
        </div>
        <div class="go-to">
          <button mat-icon-button (click)="goTo(item)" matTooltip="SEE DETAILS" matTooltipClass="m-tooltip" disabled>
            <mat-icon>forward</mat-icon>
          </button>
        </div>
      </div>

      <div class="item">
        <div>
          <mat-icon>today</mat-icon>
          <h4>CREATED</h4>
          <span>{{ getDate(item.createdAt).toLocaleDateString() }}</span>
        </div>
      </div>

      <div class="item">
        <div>
          <mat-icon>{{ item.privacy === 'public' ? 'public' : 'lock' }}</mat-icon>
          <h4>{{ item.privacy | uppercase}}</h4>
        </div>
      </div>

      <div class="item">
        <div>
          <mat-icon>face</mat-icon>
          <h4>ADMIN</h4>
          <span>{{ item.admin.username | lowercase }}</span>
        </div>
      </div>

      <div class="item">
        <div>
          <mat-icon>emoji_symbols</mat-icon>
          <h4>THINGS</h4>
          <span>{{ item.things?.length }} {{ item.things?.length === 1 ? 'THING' : 'THINGS' }}</span>
        </div>
      </div>

      <div class="item users" *ngIf="item.privacy === 'private'">
        <div>
          <mat-icon>person</mat-icon>
          <h4>USERS</h4>
          <div (click)="openUserListDialog(item)">
            <span>{{ item.users?.length ? item.users.length : 0 }} {{ item.users?.length === 1 ? 'USER' : 'USERS' }}</span>
            <mat-icon>launch</mat-icon>
          </div>
        </div>
      </div>

      <div class="item description" *ngIf="item.description">
        <div style="margin-top: 20px;">
          <h4 class="margin">DESCRIPTION</h4>
          <span>{{ item.description }}</span>
        </div>
      </div>

    </div>    
  </m-card>

</m-page-container>
 