@import 'src/styles/styles.scss';

m-card {
  .card-body {
    padding: 0 125px;

    .item {
      margin-bottom: 10px;

      div {
        @extend .m-flex-row;
        justify-content: flex-start;
        align-items: center;

        mat-icon {
          margin: 0 10px 0 -2px;
          color: $m-gray;
        }

        h4 {
          font-weight: 300;
          margin: 0 10px 0 0;
          min-width: 70px;
        }
      }

      &.description {
        div {
          justify-content: flex-start;
          align-items: flex-start;
          margin-top: 20px;

          h4 {
            min-width: 100px;
          }
        }
      }

      &.users {
        div {
          div {
            @extend .m-flex-row;
            align-items: center;

            mat-icon {
              margin-left: 5px;
              width: 18px;
              height: 18px;
              font-size: 18px;
              line-height: 18px;
            }
          }

          div:hover > * {
            cursor: pointer;
            color: $m-orange;
          }
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-phone) {
    .card-body {
      padding: 0 40px;
    }
  }
}

.search {
  margin: -10px 0 10px;
  padding: 0 20px;
}

.no-projects {
  padding: 0 54px;
  font-weight: 300;
}
