@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './variables.scss';

@import './partials/forms';
@import './partials/buttons';
@import './partials/fonts';
@import './partials/scroll';
@import './partials/loading';

html, body { 
  height: 100%;
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $m-gray;
  cursor: default;
}

.m-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.m-box-shadow {
  -webkit-box-shadow: $m-shadow-1;
     -moz-box-shadow: $m-shadow-1;
          box-shadow: $m-shadow-1;
}

.m-dialog {  
  max-width: 80vw;
  max-height: 80vh;

  .mat-dialog-container {
    @extend .m-box-shadow;
    padding: 20px 20px 24px;
    border-left: 5px solid $m-orange;    
    border-radius: $m-border-radius;
    background-color: $m-marley;

    h2 {
      margin-top: 0;
    }
  }
}

.m-error-dialog {
  @extend .m-dialog;

  .mat-dialog-container {
    border-left: 5px solid $m-dark-orange;    
  }
}

.m-page-title {
  @extend .m-flex-row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;

  mat-icon {
    padding: 5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    background: $m-orange-gradient-180;
    color: $m-marley;
    box-shadow: $m-shadow-2;
    border-radius: $m-mini-border-radius;    
  }

  h1 {
    font-weight: 300;
    margin: 0;
  }
}

.m-actions {
  @extend .m-flex-row;
  margin: 0 0 30px;
  box-shadow: $m-shadow-2;

  div {
    &.edit {
      color: $m-green;
    }
    &.delete {
      color: $m-dark-orange;
    }
    &.go-to {
      color: $m-purple;
    }
  }
}

.m-tooltip {
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  background: linear-gradient(60deg, rgba($m-gray, .7), rgba($m-gray, .8));
  box-shadow: $m-shadow-1;
  border-radius: $m-mini-border-radius;
}