@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './variables.scss';

@import './partials/forms';
@import './partials/buttons';
@import './partials/fonts';
@import './partials/scroll';
@import './partials/loading';

html, body { 
  height: 100%;
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $m-gray;
  cursor: default;
}

.m-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.m-box-shadow {
  -webkit-box-shadow: $m-shadow-1;
     -moz-box-shadow: $m-shadow-1;
          box-shadow: $m-shadow-1;
}

.m-dialog {  
  max-width: 80vw;
  max-height: 80vh;

  .mat-dialog-container {
    @extend .m-box-shadow;
    padding: 20px 20px 24px;
    border-left: 5px solid $m-orange;    
    border-radius: $m-border-radius;
    background-color: $m-marley;

    h2 {
      margin-top: 0;
    }
  }
}

.m-error-dialog {
  @extend .m-dialog;

  .mat-dialog-container {
    border-left: 5px solid $m-dark-orange;    
  }
}