$m-primary: #ff8801ff;

$m-error: #fe500eff;

$m-marley: #f7f7f7ff;

$m-primary-gradient-90: linear-gradient(90deg, $m-primary, $m-error);
$m-primary-gradient-180: linear-gradient(180deg, $m-primary, $m-error);