$m-orange: #ff8801ff;
$m-dark-orange: #fe500eff;

$m-green: #55dd3dff;
$m-purple: #8a05beff;
$m-blue: #10a5f5ff;
$m-red: #ea1d2cff;

$m-marley: #f7f7f7ff;

$m-orange-gradient-60: linear-gradient(60deg, $m-orange, $m-dark-orange);
$m-orange-gradient-90: linear-gradient(90deg, $m-orange, $m-dark-orange);
$m-orange-gradient-180: linear-gradient(180deg, $m-orange, $m-dark-orange);
$m-orange-gradient-270: linear-gradient(270deg, $m-orange, $m-dark-orange);

$m-red-gradient-60: linear-gradient(60deg, $m-red, darken($m-red, 5));

$m-gray: #333333;
$m-gray-gradient: linear-gradient(0deg, rgba($m-gray, 1), rgba($m-gray, 0.9));
$m-light-gray-gradient-270: linear-gradient(270deg, rgba($m-gray, 0.5), rgba($m-gray, 0.3));

$m-shadow-1: 0px 10px 15px 0px rgba($m-gray, 0.5);
$m-shadow-2: 0 1px 3px 0 rgba($m-gray, 0.35);

$m-mini-border-radius: 3px;
$m-border-radius: 6px;

$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
