@import 'src/styles/styles.scss';

.signup-container {
  @extend .m-flex-row;
  @extend .m-box-shadow;
  justify-content: stretch;
  width: 640px;
  border-radius: $m-border-radius;
  background-color: $m-dark-orange;

  .info-container {
    @extend .m-flex-column;
    width: calc(50% - 80px);
    padding: 40px;
    border-radius: $m-border-radius 0 0 $m-border-radius;
    background: $m-orange-gradient-90;

    .info{
      @extend .m-flex-row;
      justify-content: left;
      align-items: center;
      margin: 10px 0;

      mat-icon {
        height: 100%;
        width: auto;
        margin-right: 10px;
        font-size: 60px;
      }
      
      span {
        color: $m-marley;
        font-weight: 300;
        font-size: 16px;
      }      
    }
  }

  .card {
    width: 50%;
    @extend .m-flex-column;
    @extend .m-box-shadow;
    justify-content: stretch;
    background-color: $m-marley;
    border-radius: $m-border-radius;
  
    .card-header {
      @extend .m-flex-row;
      @extend .m-box-shadow;
      margin: 10px -10px 20px -10px;
      padding: 40px 40px;
      border-radius: $m-mini-border-radius;
      font-size: 14px;
      font-weight: 500;
      background: $m-orange-gradient-60;
  
      span {
        color: $m-marley;
        font-size: 20px;
        font-weight: 300;
      }
    }
  
    .form {
      @extend .m-flex-column;
      padding: 0 40px 20px;
    }
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .signup-container {
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    width: 300px;

    .info-container {
      display: none;
    }

    .card {
      width: 100%;
    }
  }
}