@import 'src/styles/styles.scss';

.container {
  cursor: default;
  @extend .m-flex-row;
  align-items: stretch;
  margin-top: 20px;

  div {
    width: calc(100vw / 2);
    color: $m-marley;
    font-size: 10px;
    font-weight: 300;
    padding: 20px;

    &.start {
      @extend .m-flex-row;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
    }

    &.end {
      @extend .m-flex-row;
      justify-content: flex-end;
      align-items: center;
      text-align: right;
    }
  }
}
