@import 'src/styles/styles.scss';

.relay {
  @extend .m-flex-row;
  width: auto;
  justify-content: space-between;
  box-shadow: $m-shadow-2;
  border-radius: $m-border-radius;
  margin: 10px 5px;
  margin-right: 35%;
  color: rgba($m-gray, 0.7);
  font-weight: 300;
  background-color: $m-marley;

  .info-container {
    @extend .m-flex-column;
    justify-content: unset;
    width: 70%;
    min-width: 110px;
    padding: 10px 5px 10px 20px;

    mat-icon {
      margin-right: 5px;
      font-size: 18px;
      height: 18px;
      width: 18px;
    }

    .header {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .info {
      div {
        @extend .m-flex-row;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;

        &.upcoming-changes {
          margin-bottom: 5px;
          cursor: pointer;
        }
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    .value {
      color: $m-gray;
      font-size: 45px;
      line-height: 50px;
      margin: 20px 0 10px;
      text-align: right;
    }

    .slide {
      @extend .m-flex-column;
      align-items: center;
      margin: 20px 0;
      color: $m-gray;
      min-height: 100px;

      .mat-slide-toggle {
        transform: scale(1.2);
      }

      .slide-toggle-icon {
        margin-right: 0;
        margin-top: 4px;
        font-size: 30px;
        height: 36px;
        width: 36px;
      }

      ::ng-deep {
        .mat-slide-toggle-bar {
          width: 106px;
          height: 36px;
          border-radius: 30px;
          margin-right: 0;
          background: $m-gray-gradient-270;
          transition: all 0ms linear;
          transition-delay: 0ms;
        }

        .mat-slide-toggle-thumb-container {
          width: 30px;
          height: 30px;
          top: 3px;
          left: 3px;
          z-index: 2;
          transition: all 400ms linear;
        }

        .mat-slide-toggle-thumb {
          width: 30px;
          height: 30px;
          transition: all 50ms linear;
          transition-delay: 0ms;
          transition-property: background-color;
          z-index: 2;
        }

        .mat-ripple-element {
          visibility: hidden;
          background-color: $m-gray;
        }

        .mat-slide-toggle.mat-checked {
          .mat-slide-toggle-bar {
            background: $m-orange-gradient-270;
          }

          .mat-slide-toggle-thumb-container {
            transform: translate3d(70px, 0, 0);
            transition: all 400ms linear;
            transition-delay: 0ms;
          }

          .mat-slide-toggle-thumb {
            background-color: $m-marley;
          }

          .mat-ripple-element {
            visibility: hidden;
            background-color: $m-gray;
          }

          .mat-slide-toggle-content {
            margin-left: 4px;
          }
        }

        .mat-slide-toggle-content {
          position: absolute;
          margin-left: 70px;
          color: $m-marley;
          z-index: 1;
          transition: all 400ms linear;
          transition-delay: 0ms;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
        }

        .mat-slide-toggle-ripple {
          top: calc(50% - 20px);
          left: calc(50% - 20px);
          height: 40px;
          width: 40px;
        }
      }
    }

    .footer {
      @extend .m-flex-row;
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid rgba($m-gray, 0.1);
      padding-top: 5px;
      font-size: 12px;
    }
  }

  .chart-container {
    @extend .m-flex-row;
    align-items: center;
    width: 100%;
    margin: 10px 5px;
    margin-right: -54%;
    box-shadow: $m-shadow-2;
    border-radius: $m-border-radius;
    background: $m-orange-gradient-60;
    padding: 20px;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .relay {
    flex-direction: column;
    margin: 10px 5px;

    .info-container {
      width: auto;
      min-width: unset;
      padding: 20px 10px 10px;
    }

    .chart-container {
      width: auto;
      margin: 0 -10px 10px -10px;
    }
  }
}
