<m-page-container>
  <div class="m-parent-page-title">
    <div class="title">
      <mat-icon>domain</mat-icon>
      <h1>{{ project?.name | uppercase }}</h1>
    </div>
  </div>

  <div class="m-page-title">
    <div class="title">
      <mat-icon class="icon-tree">subdirectory_arrow_right</mat-icon>
      <mat-icon>emoji_symbols</mat-icon>
      <h1>{{ thing?.name | uppercase }}</h1>
    </div>
  </div>

  <m-card [title]="sensorId ? 'edit sensor' : 'new sensor'" [icon]="'track_changes'">
    <form *ngIf="form" [formGroup]="form" (submit)="save()">
      <div class="m-form-field">
        <mat-icon class="m-field-icon">visibility</mat-icon>

        <mat-form-field floatLabel="never">
          <input matInput formControlName="name" type="text" placeholder="name" />

          <mat-error *ngIf="form.get('name').invalid">
            <mat-icon>info_outline</mat-icon>
            <span>{{ getError('name') }}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="m-half-form-field">
        <div class="m-first-field">
          <div class="m-form-field">
            <mat-icon class="m-field-icon">fiber_pin</mat-icon>

            <mat-form-field floatLabel="never">
              <input matInput formControlName="pin" type="number" min="1" placeholder="pin" />

              <mat-error *ngIf="form.get('pin').invalid">
                <mat-icon>info_outline</mat-icon>
                <span>{{ getError('pin') }}</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="m-last-field">
          <div class="m-form-field">
            <mat-icon class="m-field-icon">update</mat-icon>

            <mat-form-field floatLabel="never">
              <input matInput formControlName="pollTime" type="number" min="1000" placeholder="poll time (ms)" />

              <mat-hint>{{ getTime(form.get('pollTime').value) }}</mat-hint>

              <mat-error *ngIf="form.get('pollTime').invalid">
                <mat-icon>info_outline</mat-icon>
                <span>{{ getError('pollTime') }}</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="m-form-field">
        <mat-icon class="m-field-icon">save</mat-icon>
        <mat-checkbox formControlName="store" [labelPosition]="'before'">store data</mat-checkbox>
      </div>

      <div class="m-form-field" [class.disabled]="form.get('type').disabled">
        <mat-icon class="m-field-icon">widgets</mat-icon>

        <mat-form-field floatLabel="never">
          <mat-label>{{ types.length === 0 ? 'there are no types' : 'types' }}</mat-label>
          <mat-select formControlName="type">
            <mat-select-trigger>
              {{ form.get('type').value ? getTypeName(form.get('type').value) : '' }}
            </mat-select-trigger>

            <div class="mat-option m-select-search">
              <div class="m-form-field">
                <mat-icon class="m-field-icon">search</mat-icon>

                <mat-form-field floatLabel="never">
                  <input matInput type="text" placeholder="search" [formControl]="typeFilter" />

                  <button type="button" mat-icon-button matSuffix (click)="typeFilter.setValue(null); filterTypes('')">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>

            <div class="mat-option" *ngIf="(filteredTypes$ | async).length === 0">
              <mat-icon class="m-select-icon">info_outline</mat-icon>
              <span>No types found</span>
            </div>

            <mat-option *ngFor="let type of filteredTypes$ | async" [value]="type._id">{{ type.type }} ({{ type.input }})</mat-option>
          </mat-select>

          <mat-error *ngIf="form.get('type').invalid && form.get('type').touched">
            <mat-icon>info_outline</mat-icon>
            <span>{{ getError('type') }}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <m-sensor-config *ngIf="form.get('type').value" [form]="form" [type]="getType(form.get('type').value)"></m-sensor-config>

      <div class="m-multi-btn-area">
        <button *ngIf="!loading" mat-button class="m-btn-secondary" [ngClass]="{ 'm-highlight': sensor.upcomingChanges }" type="submit">
          {{ sensorId ? 'EDIT' : 'ADD' }}
        </button>
        <button
          *ngIf="!loading && sensor.upcomingChanges"
          mat-button
          class="m-btn-secondary"
          type="button"
          (click)="discardUpcomingChanges()"
        >
          DISCARD CHANGES
        </button>

        <div *ngIf="loading" class="m-lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </form>
  </m-card>
</m-page-container>
