<m-page-container>
  <div class="m-parent-page-title">
    <div class="title">
      <mat-icon>domain</mat-icon>
      <h1>{{ project?.name | uppercase }}</h1>
    </div>
  </div>

  <div class="m-page-title">
    <div class="title">
      <mat-icon class="icon-tree">subdirectory_arrow_right</mat-icon>
      <mat-icon>emoji_symbols</mat-icon>
      <h1>THINGS</h1>
    </div>
    <div class="actions">
      <button *ngIf="isAdmin()" mat-button class="m-btn-primary" (click)="add()">NEW</button>
    </div>
  </div>

  <div class="search">
    <div class="m-form-field">
      <mat-icon class="m-field-icon">search</mat-icon>

      <mat-form-field floatLabel="never">
        <input matInput type="text" placeholder="search" [formControl]="thingsFilter" />

        <button type="button" mat-icon-button matSuffix (click)="thingsFilter.setValue(null); filterThings('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="no-things" *ngIf="(thingsFiltered$ | async) && (thingsFiltered$ | async).length === 0">
    <span>NO THINGS FOUND</span>
  </div>

  <m-card
    *ngFor="let item of thingsFiltered$ | async"
    [title]="item.name"
    [icon]="'emoji_symbols'"
    [actions]="true"
    [disableEdit]="!isAdmin()"
    [disableRemove]="true"
    [disableUpdate]="!(isAdmin() && boardStatus[item._id])"
    [hideAdd]="true"
    [hideUpdate]="!hasUpcomingChanges(item)"
    [hideShowCredentials]="!isAdmin()"
    (goTo)="goTo(item)"
    (edit)="edit(item)"
    (remove)="remove(item)"
    (update)="applyUpcomingChanges(item)"
    (showCredentials)="showCredentials(item)"
  >
    <div class="card-body">
      <div class="item">
        <div>
          <mat-icon>{{ boardStatus[item._id] ? 'developer_board' : 'developer_board_off' }}</mat-icon>
          <h4>STATUS</h4>
          <span>{{ boardStatus[item._id] ? 'CONNECTED' : 'DISCONNECTED' }}</span>
        </div>
      </div>

      <div class="item">
        <div>
          <mat-icon>today</mat-icon>
          <h4>CREATED</h4>
          <span>{{ item.createdAt | date: 'shortDate' }}</span>
        </div>
      </div>

      <div class="item">
        <div>
          <mat-icon>category</mat-icon>
          <h4>{{ item.type | uppercase }}</h4>
        </div>
      </div>

      <div class="item">
        <div>
          <mat-icon>visibility</mat-icon>
          <h4>SENSORS</h4>
          <span>{{ item.sensors?.length }} {{ item.sensors?.length === 1 ? 'SENSOR' : 'SENSORS' }}</span>
        </div>
      </div>

      <div class="item">
        <div>
          <mat-icon>emoji_objects</mat-icon>
          <h4>RELAYS</h4>
          <span>{{ item.relays?.length }} {{ item.relays?.length === 1 ? 'RELAY' : 'RELAYS' }}</span>
        </div>
      </div>
    </div>
  </m-card>
</m-page-container>
