<m-page-container>

  <div class="m-parent-page-title">
    <div class="title">
      <mat-icon>domain</mat-icon>
      <h1>{{ project?.name | uppercase }}</h1>
    </div>
  </div>

  <div class="m-page-title">
    <div class="title">
      <mat-icon class="icon-tree">subdirectory_arrow_right</mat-icon>
      <mat-icon>emoji_symbols</mat-icon>
      <h1>{{ thing?.name | uppercase }}</h1>
    </div>
  </div>

  <m-card [title]="relayId ? 'edit relay' : 'new relay'" [icon]="'emoji_objects'">

    <form *ngIf="form" [formGroup]="form" (submit)="save()">

      <div class="m-form-field">
        <mat-icon class="m-field-icon">visibility</mat-icon>
    
        <mat-form-field floatLabel='never'>
          <input
          matInput
          formControlName="name"
          type="text"
          placeholder="name">
          
          <mat-error *ngIf="form.get('name').invalid">
            <mat-icon>info_outline</mat-icon>
            <span>{{ getError('name') }}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="m-form-field">
        <mat-icon class="m-field-icon">fiber_pin</mat-icon>
    
        <mat-form-field floatLabel='never'>
          <input
          matInput
          formControlName="pin"
          type="number"
          min="1"
          placeholder="pin">
          
          <mat-error *ngIf="form.get('pin').invalid">
            <mat-icon>info_outline</mat-icon>
            <span>{{ getError('pin') }}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="m-form-field">
        <mat-icon class="m-field-icon">wb_incandescent</mat-icon>
        <mat-checkbox formControlName="nc" [labelPosition]="'before'">NC (normally closed)</mat-checkbox>
      </div>

      <div class="m-form-field">
        <mat-icon class="m-field-icon">save</mat-icon>
        <mat-checkbox formControlName="store" [labelPosition]="'before'">store data</mat-checkbox>
      </div>

      <div class="m-btn-area">
        <button *ngIf="!loading" mat-button type="submit">{{ relayId ? 'EDIT' : 'ADD' }}</button>
        <div *ngIf="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>  

    </form>

  </m-card>

</m-page-container>
