@import 'src/styles/styles.scss';

.page {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;

  .page-overlay {
    @extend .m-flex-column;
    justify-content: flex-start;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: $m-marley;

    m-header {
      width: 100%;
    }

    .spacer {
      flex: 1 1 auto;
    }

    m-footer {
      width: 100%;
    }
  }
}
